* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100%;
    background-image: linear-gradient(45deg, #D3959B, #BFE6BA);
}

.background_image {
    height: 100%;
    background-image: url(../images/refresh-hero-home.png);
    background-size: cover;
    background-position: top, right;
    z-index: -1;
}

.nav_menu {
    background-image: linear-gradient(45deg, #D3959B, #BFE6BA);
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
   /* background-color: transparent;*/
    opacity: 0.80;
}

.nav_menu a {
    color: #2a2f74;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    padding:8px;
}

.active{
    background-color : rgb(118, 212, 235);
    border: 2px solid rgb(244, 240, 126);;
    font-size: 1.5rem;;
}

.hero_content {
    background-color: transparent;
    color: #fff;
    padding: 32px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.318), 0 0 25px rgb(10, 18, 59), 0 0 5px rgba(111, 230, 141, 0.575);
}

.hero_main_content {
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}

.title {
    padding: 16px;
    font-size: 7vw;
    font-weight: 550;
    filter: none;
    z-index: 60;
    align-self: self-start;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.318), 0 0 25px rgb(215, 59, 28), 0 0 5px rgba(174, 186, 177, 0.575);
}

.message {
    text-shadow: 0 0 10px #FFD700,
        0 0 20px #FFA500,
        0 0 30px #FF6347;
    margin-left: 0px;
    font-size: 4vw;
    font-weight: 400;
    font-weight: bolder;
    z-index: 40;
    border-radius: 20px;
    color: #fff;
}

@media screen and (min-width: 768px) {

    body {
        background-image: linear-gradient(45deg, #D3959B, #BFE6BA);
    }

    .mindset_section {
        background-image: linear-gradient(180deg, #D3959B, #BFE6BA);
    }

    .background_image {
        height: 100%;
        background-image: url(../images/pexels-food_bg.jpeg);
        background-size: cover;
        z-index: 0;
        animation: bg_image_change 15s linear infinite;
    }

    @keyframes bg_image_change {

        15% {
            background-image: url("../images/refresh-hero-home.png");
            animation-delay: 10s;
        }

        30% {
            background-image: url("../images/food_bgimage.jpg");
            animation-delay: 30s;
        }

        60% {
            background-image: url("../images/Media_Query_Mobile/Home_Background/bg_image_home.jpeg");
            animation-delay: 50s;
        }

        80% {
            background-image: url("../images/pexels-food_bg.jpeg");
            animation-delay: 50s;
        }

        100% {
            background-image: url("../images/pexels-food_bg.jpeg");
            animation-delay: 30s;
        }
    }

    .menu_icon {
        display: none;
    }

    .title {
        padding: 32px;
        font-size: 6vw;
        font-weight: 550;
        border-radius: 10px;
        z-index: 40;
        text-align: center;
        background-color: transparent;
    }

    .message {
        color: #fff;
        margin-left: 35px;
        font-size: 3vw;
        font-weight: 300;
        font-weight: bolder;
        z-index: 40;
        border-radius: 20px;
    }

    .logo {
        display: inline;
    }

    .nav_menu {
        display: flex;
        background-image: linear-gradient(45deg, #D3959B, #BFE6BA);
        justify-content: space-around;
        height: 10%;
        color: #b0120f;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .nav_menu a {
        color: #b0120f;
        font-weight: bolder;
        /*background-color: transparent;*/
    }

    .nav_menu a:hover {
        background-color: #e8dba1;
    }
}